<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SpringBootForBasicBoardPage</title>
    <!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<script type="text/javascript" src="/lib/jquery-1.11.2.min.js"></script>
<body>
<script type="text/javascript" src="/js/board.js"></script>
<link rel="stylesheet" type="text/css" href="/css/board.css">
<div class="container">
    <div class="page-title">
        <div class="container">
            <h3>Board</h3>
        </div>
    </div>
    <!-- board seach area -->
    <div id="board-search">
        <div class="container-board">
            <div class="search-window">
                <form action="">
                    <div class="search-wrap">
                        <input id="search" type="search" name="" placeholder="search here." value="">
                        <button type="submit" class="btn-board btn-dark">SEARCH</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- board list area -->
    <div id="board-list">
        <div class="container-board">
            <table class="board-table">
                <thead>
                <tr>
                    <th scope="col" class="th-num">NO</th>
                    <th scope="col" class="th-title">Title</th>
                    <th scope="col" class="th-date">Reg-Date</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>3</td>
                    <th>
                        <a href="#!">[공지사항] 개인정보 처리방침 변경안내처리방침</a>
                        <p>테스트</p>
                    </th>
                    <td>2017.07.13</td>
                </tr>

                <tr>
                    <td>2</td>
                    <th><a href="#!">공지사항 안내입니다. 이용해주셔서 감사합니다</a></th>
                    <td>2017.06.15</td>
                </tr>

                <tr>
                    <td>1</td>
                    <th><a href="#!">공지사항 안내입니다. 이용해주셔서 감사합니다</a></th>
                    <td>2017.06.15</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
