<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SpringBootForBasicBoardPage</title>
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<script type="text/javascript" src="/lib/jquery-1.11.2.min.js"></script>
<body>
<!--<script type="text/javascript" th:src="@{/js/index.js}"></script>-->
<!--<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">-->
<script type="text/javascript" src="/js/index.js"></script>
<link rel="stylesheet" type="text/css" href="/css/index.css">
    <div class="container">
        <!-- Sign Up -->
        <div class="container__form container--signup">
            <div class="form sign_up_form" id="form1">
                <h2 class="form__title">Sign Up</h2>
                <input type="text" placeholder="ID" class="input" id="sign_up_id" autocomplete="off"/>
                <input type="password" placeholder="Password" class="input" id="sign_up_pwd" autocomplete="off"/>
                <input type="text" placeholder="Name" class="input" id="sign_up_name" autocomplete="off"/>
                <input type="text" placeholder="Phone('010-0000-0000')" class="input" id="sign_up_phone" autocomplete="off"/>
                <input type="text" placeholder="Email('test@test.com')" class="input" id="sign_up_email" autocomplete="off"/>
                <button class="btn" onclick="sign_up_user()">Sign Up</button>
            </div>
        </div>

        <!-- Sign In -->
        <div class="container__form container--signin">
            <div class="form sign_in_form" id="form2">
                <h2 class="form__title">Sign In</h2>
                <input type="text" placeholder="ID" class="input" id="sign_in_id" autocomplete="off"/>
                <input type="password" placeholder="Password" class="input" id="sign_in_pwd" autocomplete="off"/>
                <a href="#" class="link">Forgot your password?</a>
                <button class="btn" onclick="sign_in_user()">Sign In</button>
            </div>
        </div>

        <!-- Overlay -->
        <div class="container__overlay">
            <div class="overlay">
                <div class="overlay__panel overlay--left">
                    <button class="btn" id="signIn" onclick="show_sign_in()">Sign In</button>
                </div>
                <div class="overlay__panel overlay--right">
                    <button class="btn" id="signUp" onclick="show_sign_up()">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
